*{
    // margin: 0 auto;

}
.film{
//    align-items: center;
   margin-left: 22%;
   
  
  
}
.film__img{
     width: 40%;
    
 }
 button{
    border-radius: 25%;
    padding: 5px;
    margin: 5px;
 }